<table class="table">
  <thead>
    <tr>
      <th><%= admin_attribute_sort_link(@conn, :name, "Name") %></th>
      <th><%= admin_attribute_sort_link(@conn, :params, "Params") %></th>
      <th><%= admin_attribute_sort_link(@conn, :inserted_at, "Inserted at") %></th>
      <th><%= admin_attribute_sort_link(@conn, :updated_at, "Updated at") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for attribute <- @attributes.entries do %>
    <tr>
      <td><%= attribute.name %></td>
      <td><%= attribute.params %></td>
      <td><%= attribute.inserted_at %></td>
      <td><%= attribute.updated_at %></td>

      <td>
        <%# Icon definitions %>
        <% show_icon = content_tag(:i, "", class: "fa fa-eye", title: "Show") %>
        <% edit_icon = content_tag(:i, "", class: "fa fa-edit", title: "Edit") %>
        <% delete_icon = content_tag(:i, "", class: "fa fa-trash", title: "Delete") %>
        <%# Links %>
        <div class="pull-right">
          <%= link show_icon, to: Routes.admin_attribute_path(@conn, :show, attribute) %> &nbsp;
          <%= link edit_icon, to: Routes.admin_attribute_path(@conn, :edit, attribute) %> &nbsp;
          <%= link delete_icon, to: Routes.admin_attribute_path(@conn, :delete, attribute, @conn.params), method: :delete, data: [confirm: "Are you sure?"], class: "text-danger"  %>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
