<div class="panel box box-primary">
  <div class="box-header with-border">
    <h4 class="box-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFilters">
        Search filters
      </a>
    </h4>
  </div>
  <div id="collapseFilters" class="panel-collapse">
    <div class="box-body">
      <%= admin_product_search_form_for @conn, [], fn f -> %>

        <%= forage_horizontal_form_group :name do %>
          <%= forage_text_filter(f, :name) %>
        <% end %>

        <%= forage_horizontal_form_group :sku do %>
          <%= forage_text_filter(f, :sku) %>
        <% end %>

        <%= forage_horizontal_form_group :woocommerce_id do %>
          <%= forage_numeric_filter(f, :woocommerce_id) %>
        <% end %>

        <div class="col-sm-10 col-sm-offset-2">
          <% search_button_content = [content_tag(:i, "", class: "fa fa-search"), " Search"] %>
          <%= submit search_button_content, class: "btn btn-default pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>