<section class="content-header">
  <h1>
    Show Product
    <small>Product (Product ID: <%= @product.id %>)</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Products</a></li>
    <li class="active">show</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="box box-primary with-border">
    <div class="box-body">
      <ul>
      
        <li>
          <strong>Name:</strong>
          <%= @product.name %>
        </li>
      
        <li>
          <strong>Sku:</strong>
          <%= @product.sku %>
        </li>
      
        <li>
          <strong>Woocommerce:</strong>
          <%= @product.woocommerce_id %>
        </li>
      
      </ul>
      
      <%= render ShopScraperWeb.Admin.PriceView, "table.html", assigns %>

    </div>
    <div class="box-footer">
      <% edit_link_content = [content_tag(:i, "", class: "fa fa-edit"), " Edit"] %>
      <% back_link_content = [content_tag(:i, "", class: "fa fa-arrow-left"), " Back"]  %>
      <span><%= link edit_link_content, to: Routes.admin_product_path(@conn, :edit, @product), class: "btn btn-default" %></span>
      <span><%= link back_link_content, to: Routes.admin_product_path(@conn, :index), class: "btn btn-default"  %></span>
  </div>
</section>


