<table class="table">
  <thead>
    <tr>
      <th><%= admin_product_sort_link(@conn, :name, "Name") %></th>
      <th><%= admin_product_sort_link(@conn, :sku, "Sku") %></th>
      <th><%= admin_product_sort_link(@conn, :woocommerce_id, "Woocommerce") %></th>
      <th><%= admin_product_sort_link(@conn, :inserted_at, "Inserted at") %></th>
      <th><%= admin_product_sort_link(@conn, :updated_at, "Updated at") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for product <- @products.entries do %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.sku %></td>
      <td><%= product.woocommerce_id %></td>
      <td><%= product.inserted_at %></td>
      <td><%= product.updated_at %></td>

      <td>
        <%# Icon definitions %>
        <% show_icon = content_tag(:i, "", class: "fa fa-eye", title: "Show") %>
        <% edit_icon = content_tag(:i, "", class: "fa fa-edit", title: "Edit") %>
        <% delete_icon = content_tag(:i, "", class: "fa fa-trash", title: "Delete") %>
        <%# Links %>
        <div class="pull-right">
          <%= link show_icon, to: Routes.admin_product_path(@conn, :show, product) %> &nbsp;
          <%= link edit_icon, to: Routes.admin_product_path(@conn, :edit, product) %> &nbsp;
          <%= link delete_icon, to: Routes.admin_product_path(@conn, :delete, product, @conn.params), method: :delete, data: [confirm: "Are you sure?"], class: "text-danger"  %>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
