<table class="table">
  <thead>
    <tr>
      <%= if assigns.mandarin_resource != :product do %>
        <th><%= admin_price_sort_link(@conn, :name, "Product") %></th>
      <% end %>
      <%= if assigns.mandarin_resource != :shop do %>
        <th><%= admin_price_sort_link(@conn, :name, "Shop") %></th>
      <% end %>
      <th><%= admin_price_sort_link(@conn, :name, "Quantity") %></th>
      <th><%= admin_price_sort_link(@conn, :name, "Amount") %></th>
      <th><%= admin_price_sort_link(@conn, :scraper_params, "Woocommerce") %></th>
      <th><%= admin_price_sort_link(@conn, :inserted_at, "Inserted at") %></th>
      <th><%= admin_price_sort_link(@conn, :updated_at, "Updated at") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for price <- @prices do %>
    <tr>
      <%= if assigns.mandarin_resource != :product do %>
        <td><%= link price.product.name, to: Routes.admin_product_path(@conn, :show, price.product) %></td>
      <% end %>
      <%= if assigns.mandarin_resource != :shop do %>
        <td><%= link price.shop.name, to: Routes.admin_shop_path(@conn, :show, price.shop) %></td>
      <% end %>
      <td><%= price.quantity %></td>
      <td><%= price.amount %></td>
      <td><%= price.woocommerce_id %></td>
      <td><%= price.inserted_at %></td>
      <td><%= price.updated_at %></td>

      <td>
        <%# Icon definitions %>
        <% show_icon = content_tag(:i, "", class: "fa fa-eye", title: "Show") %>
        <% edit_icon = content_tag(:i, "", class: "fa fa-edit", title: "Edit") %>
        <% delete_icon = content_tag(:i, "", class: "fa fa-trash", title: "Delete") %>
        <%# Links %>
        <div class="pull-right">
          <%= link show_icon, to: Routes.admin_price_path(@conn, :show, price) %> &nbsp;
          <%= link edit_icon, to: Routes.admin_price_path(@conn, :edit, price) %> &nbsp;
          <%= link delete_icon, to: Routes.admin_price_path(@conn, :delete, price, @conn.params), method: :delete, data: [confirm: "Are you sure?"], class: "text-danger"  %>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
