<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_input f, :name, class: "form-control" %>
      <%= error_tag f, :name %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :scraper_params, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= textarea f, :scraper_params, class: "form-control" %>
      <%= error_tag f, :scraper_params %>
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-2">
    <%= submit "Save", class: "btn btn-default" %>
  </div>
<% end %>
