<section class="content-header">
  <h1>
    Shops
    <small>(Browse Shops)</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Shops</a></li>
    <li class="active">index</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="box box-primary with-border">
    <div class="box-body">
      <%# Table %>
      <%= render "table.html", assigns %>
      <%# Pagination (TODO: make it work) %>
      <%= admin_shop_pagination_widget(@conn, @shops, previous: "« Previous", next: "Next »") %>
    </div>

    <div class="box-footer">
      <% new_link_content = [content_tag(:i, "", class: "fa fa-plus"), " New"]  %>
      <span><%= link new_link_content, to: Routes.admin_shop_path(@conn, :new), class: "btn btn-default" %></span>
    </div>
  </div>

  <%# Filters %>
  <div class="box-group">
    <%= render "filters.html", assigns %>
  </div>
</section>
