<section class="content-header">
  <h1>
    New Shop
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Shops</a></li>
    <li class="active">new</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="box box-primary with-border">
    <div class="box-body">
      <%= render "form.html", Map.put(assigns, :action, Routes.admin_shop_path(@conn, :create)) %>
    </div>
    <div class="box-footer">
      <% back_link_content = [content_tag(:i, "", class: "fa fa-arrow-left"), " Back"]  %>
      <span><%= link back_link_content, to: Routes.admin_shop_path(@conn, :index), class: "btn btn-default" %></span>
  </div>
</section>
