<section class="content-header">
  <h1>
    Show Shop
    <small>Shop (Shop ID: <%= @shop.id %>)</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Shops</a></li>
    <li class="active">show</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="box box-primary with-border">
    <div class="box-body">
      <ul>
      
        <li>
          <strong>Name:</strong>
          <%= @shop.name %>
        </li>
      
        <li>
          <strong>Scraper params:</strong>
          <pre><%= @shop.scraper_params %></pre>
        </li>
        <%= render ShopScraperWeb.Admin.PriceView, "table.html", assigns %>

      </ul>
    </div>
    <div class="box-footer">
      <% edit_link_content = [content_tag(:i, "", class: "fa fa-edit"), " Edit"] %>
      <% test_link_content = [content_tag(:i, "", class: "fa fa-edit"), " Test"] %>
      <% back_link_content = [content_tag(:i, "", class: "fa fa-arrow-left"), " Back"]  %>
      <span><%= link edit_link_content, to: Routes.admin_shop_path(@conn, :edit, @shop), class: "btn btn-default" %></span>
      <span><%= button test_link_content, to: Routes.admin_shop_path(@conn, :test, @shop), class: "btn btn-default" %></span>
      <span><%= link back_link_content, to: Routes.admin_shop_path(@conn, :index), class: "btn btn-default"  %></span>
  </div>
</section>


