<table class="table">
  <thead>
    <tr>
      <th><%= admin_shop_sort_link(@conn, :name, "Name") %></th>
      <th><%= admin_shop_sort_link(@conn, :scraper_params, "Scraper params") %></th>
      <th><%= admin_shop_sort_link(@conn, :inserted_at, "Inserted at") %></th>
      <th><%= admin_shop_sort_link(@conn, :updated_at, "Updated at") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for shop <- @shops.entries do %>
    <tr>
      <td><%= shop.name %></td>
      <td><pre><%= shop.scraper_params %></pre></td>
      <td><%= shop.inserted_at %></td>
      <td><%= shop.updated_at %></td>

      <td>
        <%# Icon definitions %>
        <% show_icon = content_tag(:i, "", class: "fa fa-eye", title: "Show") %>
        <% edit_icon = content_tag(:i, "", class: "fa fa-edit", title: "Edit") %>
        <% delete_icon = content_tag(:i, "", class: "fa fa-trash", title: "Delete") %>
        <%# Links %>
        <div class="pull-right">
          <%= link show_icon, to: Routes.admin_shop_path(@conn, :show, shop) %> &nbsp;
          <%= link edit_icon, to: Routes.admin_shop_path(@conn, :edit, shop) %> &nbsp;
          <%= link delete_icon, to: Routes.admin_shop_path(@conn, :delete, shop, @conn.params), method: :delete, data: [confirm: "Are you sure?"], class: "text-danger"  %>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
